---
Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
# ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: false
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'type']
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
TabWidth: 2
